body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.flag{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.flag .color1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33vh;
    background: #ff9933;
    transform: scaleX(0);
    animation: color1 1s linear forwards;
    transform-origin: left;
}
@keyframes color1{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
.flag .color2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33vh;
    background: #138800;
    transform: scaleX(0);
    animation: color1 1s linear forwards;
    transform-origin: right;
    animation-delay: 1s;
}
.chakra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 1;
}
.chakra img{
    margin-top: 0.5vh;
    height: 34vh;
    animation: rotate 20s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}